body {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
	list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
h3 {
  font-size: 22px;
}

.possible_answer  {
    padding: 1em;
    list-style-type: none;
    border: 1px solid #999;
}
.possible_answer:hover {
	/*background: rgba(254, 231, 88, 1);*/
  background-color: #CCC;
  border: 1px solid #CCC;
	cursor: pointer;
    /*font-weight: bold;*/
}

.correct-answer, .wrong-answer {
	opacity: .75;
	cursor: pointer;
}

.selected {
    opacity: 1;
}

.selected:hover, .correct-answer:hover, .wrong-answer:hover {
	opacity: 1;
}

.wrong-answer {
  background:   #EF4123;
  color: white;
  border: 1px solid transparent;
}

.correct-answer {
    background: #1CAB49;
    color: white;
    border: 1px solid transparent;
}

.correct-answer:before {
  /* content: "✓"; */
}

.social {
  list-style-type: none;
}

.social >li {
  margin:5px;
  display:inline-block;
}

.twitter >iframe{
  vertical-align:middle;
  height:23px !important;
}

.fb-share-button >span {
  vertical-align: middle !important;
  height:24px !important;
}




.how_you_did {
	text-align: center;
	padding: 2em;
	/*background-color: rgb(254, 231, 88);*/
  background-color: #FFD769;
	font-weight: bold;
	font-size: 1.5em;
  /*
	-webkit-box-shadow: 0px 7px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 7px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 7px 5px rgba(50, 50, 50, 0.65);
  */
}

/*multimedia styling*/

img, .youtube {
	margin-bottom: 1em;
	min-height: 200px;
	max-height: 200px;
}

.possible_answer img {
	max-height: 24em;
}

.question img, .revealed_answer img, .selected img, .correct-answer img, .wrong-answer img {
    max-height: 24em;
    display: block;
    border-radius: 3px;
}

.videoembed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videoembed iframe, .videoembed object, .videoembed embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}